/* detail_sklad_jednotka.css */
:root {
    --base-font-size: 14px;
}

body {
    font-size: var(--base-font-size);
}

.result-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.result-label {
    font-weight: bold;
    color: #1f4a77;
    text-align: left;
    margin-right: 10px;
    width: 150px;
    line-height: 1.2;
    font-size: 1.0em;
}

.result-data {
    font-weight: bold;
    color: #000;
    background-color: #81c3d791;
    padding: 3px;
    border-radius: 5px;
    text-align: right;
    width: 100%;
    line-height: 1.2;
    font-size: 1.0em;
}

.sscc-label, .sklad-label {
    font-size: 1.3em;
}

.sscc-data {
    font-size: 1.3em;
}

.sklad-data {
    font-size: 2.6em;
}

.result-data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.result-data-inline {
    display: inline-block;
    text-align: right;
}

.item-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 5px;
}

.item-data {
    display: flex;
    align-items: center;
}

.item-name {
    text-align: left;
    margin-top: 5px;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.0em;
}

/* Styl pro přepínač a vstupní pole */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-top: 7px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* Používáme existující styly */
.modal-body .result-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.modal-body .result-label {
    font-weight: bold;
    color: #1f4a77;
    text-align: left;
    margin-right: 10px;
    width: 150px; /* Šířka labelu */
    line-height: 1.2;
    font-size: 18px;
}

.modal-body .result-data {
    font-weight: bold;
    color: #000;
    background-color: #81c3d791; /* Světle modré pozadí */
    padding: 3px 3px;
    border-radius: 5px; /* Zaoblené rohy */
    text-align: right;
    line-height: 1.2;
    font-size: 16px;
}

.modal-body .result-data-mnozstvi {
    font-weight: bold;
    color: #000;
    background-color: #81c3d791; /* Světle modré pozadí */
    padding: 0px 5px;
    border-radius: 5px; /* Zaoblené rohy */
    text-align: right;
    line-height: 1.2;
    font-size: 2.6rem;
}

.modal-body .result-data-rozdil {
    font-weight: bold;
    color: #000;
    background-color: #81c3d791; /* Světle modré pozadí */
    padding: 0px 5px;
    border-radius: 5px; /* Zaoblené rohy */
    text-align: right;
    line-height: 1.2;
    font-size: 2.6rem;
}

.modal-body .form-group label {
    font-weight: bold;
    color: #1f4a77;
}

.modal-footer .btn-primary {
    background-color: #4CAF50; /* Zelené tlačítko */
    border-color: #4CAF50;
}

.modal-footer .btn-secondary {
    background-color: #ccc; /* Šedé tlačítko */
    border-color: #ccc;
}



#newQuantity {
    font-size: 2.6rem;
    font-weight: bold;
    color: #000;
    text-align: right;
    border: 3px solid #81c3d791; /* Žlutý rámeček */
    border-radius: 5px;
    padding: 0px 5px;
    width: 100%;
    background-color: #f9f9f9;
    line-height: 1.2;
}

/* Efekt při zaostření */
#newQuantity:focus {
    outline: none;
    border-color: #81c3d791; /* Tmavší žlutá při zaostření */
    box-shadow: 0 0 8px #81c3d791; /* Žlutý stín při zaostření */
}

.modal-footer {
    display: flex;
    flex-direction: row; /* Tlačítka vedle sebe */
    justify-content: space-between; /* Rovnoměrně rozmístěná tlačítka */
    align-items: center; /* Vertikální zarovnání tlačítek */
    gap: 10px; /* Mezera mezi tlačítky */
}

.modal-footer .btn {
    width: auto; /* Tlačítka budou mít automatickou šířku */
}

/* Styl pro řádek "Množství" */
.custom-quantity-row {
    margin-bottom: 10px; /* Mezera pod řádkem */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Styl pro label "Množství" */
.custom-quantity-label {
    font-size: 1.2rem; /* Velikost písma pro label */
    font-weight: bold; /* Tučné písmo */
    color: #1f4a77; /* Barva textu */
    margin-right: 15px; /* Mezera mezi labelem a daty */
    
}

/* Styl pro data "Množství" */
.custom-quantity-data {
    font-size: 2.6em; /* Velikost písma pro data */
    font-weight: bold; /* Tučné písmo */
    color: #000; /* Barva textu */
    background-color: #81c3d791; /* Světle modré pozadí */
    padding: 5px 3px; /* Vnitřní odsazení */
    border-radius: 5px; /* Zaoblené rohy */
    text-align: right; /* Zarovnání doprava */
}

.modal-title {
    margin-bottom: 20px;
    line-height: 0.5;
}

.modal-content {
    border: 3px solid #ffc107; /* Žluté orámování */
    border-radius: 10px; /* Zaoblené rohy */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Přidá jemný stín */
}

.modal-title {
    font-size: 1.5rem; /* Velikost textu */
    font-weight: bold; /* Tučné písmo */
    color: #1f4a77; /* Barva textu */
    text-align: center; /* Zarovnání na střed */
    text-transform: uppercase; /* Velká písmena */
    margin: 0; /* Žádný vnější okraj */
    padding: 1px 0; /* Vnitřní odsazení nahoře a dole */
    border-bottom: 0px solid #FFD700; /* Žlutá čára pod nadpisem */
}

.modal.fade .modal-dialog {
    transform: translateY(50%) scale(0.8);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0;
}

.modal.show .modal-dialog {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: none;
}

.modal-backdrop {
    backdrop-filter: blur(8px); /* Silné rozmazání pozadí */
    background-color: rgba(0, 0, 0, 0.5);
}