.topbar {
    padding: 0.25rem 0.5rem;
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    flex-direction: row; /* Zajišťuje, že prvky budou zarovnány vedle sebe */
    justify-content: space-between; /* Rozloží prvky na opačné strany */
    align-items: center; /* Vertikální zarovnání na střed */
    padding-bottom: 9px; /* Adjusted for the pseudo-element */
    width: 100%; /* Zajištění, že topbar zabírá celou šířku */
    line-height: 0.25rem;
}

.topbar .navbar-brand {
    font-size: 1rem;
    margin-bottom: 0; /* Odstranění mezery mezi jménem a lokalitou */
    flex: 0; /* Zajišťuje, že prvky se nebudou roztahovat na celou šířku */
}

.topbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #f6b729, #b57b49, #81c3d7, #7cb227);
}

.btn-custom {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0; /* Zrušení spodního okraje */
    position: relative; /* Added for absolute positioning of the icon */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* Android styl */
    background-color: #007bff; /* Modrá barva pro potvrzení */
    color: white; /* Bílá barva textu */
    border: none; /* Bez okrajů */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Android styl */
}

.btn-custom.btn-danger {
    background-color: #dc3545; /* Červená barva pro odhlášení */
}

.btn-custom:active {
    box-shadow: none; /* Bez stínu při aktivaci */
}

.btn-icon .icon {
    font-size: 1.5rem; /* Zvýšení velikosti ikon */
    font-weight: bold; /* Tučné písmo pro čísla */
    position: absolute;
    left: 10px;
    color: #fff; /* Bílá barva pro lepší kontrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Přidání stínu pro lepší čitelnost */
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Mezera mezi tlačítky */
}

.logout-button-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px; /* Přidání paddingu pro lepší vzhled */
    background-color: #ffffff; /* Barva pozadí pro lepší oddělení od obsahu */
}

.container {
    padding-bottom: 0px; /* Místo pro tlačítko Odhlásit */
}

/* Specific Styles */
.buttons-container {
    margin-top: 20px;
}

.buttons-container .btn {
    font-size: 14px; /* Velikost textu na tlačítku */
    padding: 5px 10px; /* Vnitřní odsazení tlačítka */
}

.buttons-container button {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.buttons-container button .icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttons-container button .icon {
    position: absolute;
    left: 20px;
    font-size: 1.5rem; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.buttons-container button {
    margin-bottom: 8px; /* Zmenší mezery mezi tlačítky */
    padding: 10px; /* Zmenší vnitřní okraje tlačítek, pokud je potřeba */
}

.body {
    overflow-y: hidden;
}

/* Vlastní styl pro alert */
.custom-alert {
    background-color: #f8d7da; /* Světle červená */
    color: #721c24; /* Tmavě červený text */
    border: 1px solid #f5c6cb; /* Červený okraj */
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-alert .btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #721c24;
}

.checkmark {
    color: #28a745;
    font-size: 3em;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}